{% load static %}

{% block link %}
<link rel="stylesheet" type="text/css" href="{% static 'css/join.css' %} ">
<style>
    #join_submitbtn:disabled {
        background: var(--5, #CECECE);
        color: #FFF;
        cursor: default;
    }

    .pwd_alert {
        color: var(--unnamed, #FF7474);
        font-family: Pretendard;
        font-size: 1rem;
        font-style: normal;
        font-weight: 300;
        line-height: normal;
        margin-top: 0.25rem;
        margin-left: 1.2rem;
        /* position: absolute; */
    }

    a {
        text-decoration: none;
    }
</style>

{% endblock %}

{% block title %}
<!--회원 가입-->
{% endblock %}

{% block content %}

<div class="container-fluid" style="padding: 0;">
    <div class="container-wrap">
        <section class="main-logo-container">
            <img src="{% static 'images/main-logo.svg' %} ">

        </section>
        <section>
            <form action="" class="form_wrap_line" method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <div style="margin-bottom: 1.5rem;">
                    <!-- <input type="text" class="input-form" id="id" placeholder="이메일을 입력해주세요" name="user-email"> -->
                    {{ form.username }}
                    {% if email_msg != "" %}
                    <div class="pwd_alert">
                        {{ email_msg }}
                    </div>
                    {% endif %}
                </div>
                <div style="margin-bottom: 1.5rem;">
                    <!-- <input type="text" class="input-form" id="name" placeholder="이름을 입력해주세요" name="user-name"> -->
                    {{ form.first_name }}
                </div>
                <div style="margin-bottom: 1.5rem;">
                    <label for="passwordField" class="password-label">
                        <!-- <input type="password" id="passwordField" class="input-form" placeholder="비밀번호를 입력해주세요"
                            name="user-pw" required> -->
                        {{ form.password1 }}
                        <img src="{% static 'images/pwd-toggle-show.svg' %} " class="toggle-image1"
                            onclick="togglePasswordVisibility()">
                    </label>
                </div>
                <div style="margin-bottom: 2rem;">
                    <label for="passwordCkField" class="password-label">
                        <!-- <input type="password" id="passwordCkField" class="input-form" placeholder="  비밀번호를 다시 입력해주세요"
                            name="user-checkpw" required> -->
                        {{ form.password2 }}
                        <img src="{% static 'images/pwd-toggle-show.svg' %} " class="toggle-image2"
                            onclick="togglePasswordCheckVisibility()">
                    </label>
                    <div class="pwd_alert" id="alert-success"></div>

                    {% if pwd_msg != "" %}
                    <div class="pwd_alert">
                        {{ pwd_msg }}
                    </div>
                    {% endif %}

                </div>
                <div>
                    <button type="submit" id=join_submitbtn>회원가입 하기</button>
                </div>
            </form>
    </div>
    <div id="move-href" style="text-align: center; margin-top: 2rem; margin-bottom: 20rem;">
        <span><a href="#" style="color: var(--5, #CECECE);">비밀번호 찾기</a></span>
        <span class="line" style="width: 0.0625rem;
            height: 1.5rem; color: #CECECE;">|</span>
        <span><a href="{% url 'accounts:login' %}" style="color: var(--5, #CECECE);">로그인</a></span>

    </div>
    </section>
</div>
<script>
    const nameForm = document.querySelector("#name");
    const idForm = document.querySelector("#id");
    const pwForm = document.querySelector("#passwordField");
    const check_pwdForm = document.querySelector("#passwordCkField");
    const joinButton = document.querySelector("#join_submitbtn");

    nameForm.addEventListener("keyup", JoinactiveEvent);
    idForm.addEventListener('keyup', JoinactiveEvent);
    pwForm.addEventListener('keyup', JoinactiveEvent);
    check_pwdForm.addEventListener('keyup', JoinactiveEvent);
    joinButton.addEventListener('click', JoinactiveEvent);

    function JoinactiveEvent() {
        switch (!(nameForm.value && idForm.value && pwForm.value && check_pwdForm.value)) {
            case true: joinButton.disabled = true;
                break;
            case false: joinButton.disabled = false;
                break;
        }
    }

    // 비밀번호 보기 옵션
    function togglePasswordVisibility() {
        var passwordField = document.getElementById("id_password1");
        var toggleImage1 = document.querySelector(".toggle-image1");

        if (passwordField.type === "password") {
            passwordField.type = "text";
            toggleImage1.src = "{% static 'images/pwd-toggle-hide.svg' %}";
        } else {
            passwordField.type = "password";
            toggleImage1.src = "{% static 'images/pwd-toggle-show.svg'%}";
        }
    }
</script>
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
<script src="{% static 'js/check.js' %}"></script>
<script src="{% static 'js/account.js' %} "></script>

{% endblock %}