{% load static %}
<!-- main-frame -->
<!-- 프레임 형성 후 프레임 내 세부 내용 채워 넣는 듯이 개발 -->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport"
        content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no" />

    <link rel="stylesheet" type="text/css" href="{% static 'css/main-frame.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/TongTong.css' %}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">

    {% block link %}{% endblock %}
    <title>{% block title %}{% endblock %}</title>

    <style>
        a{
            text-decoration: none;
        }
    </style>
</head>

<body>
    <!-- 반응형 container -->
    <div class="container-fluid" style="padding: 0;">
        <!-- Content here -->
        <!-- 메인 프레임 header -->
        <header>
            <div class="main-header">
                <a href="{% url 'index'%}"><img src="{% static 'images/main-logo.svg' %} " class="main-logo"></a>
                <div class="myInfo-wrap">
                    {% if request.user.is_authenticated %} <!--로그인 했을 때-->
                    <div class="myInfo-sec" style="margin-top: 0.5rem;">
                        <div><img src="{% static 'images/myInfo-img.svg' %} " class="myInfo-logo-img">
                        </div>
                        <div class="myInfo-info-letter" id="myInfo-UserName"><a href="{% url 'tongtong:tongtong'%}"
                                style="color:#848484;">통통이&nbsp;</a></div>
                    </div>
                    
                    <div style="margin-top: 0.5rem;">
                        <div class="myInfo-info-letter" id="myInfo-myInformation"><a href="/my-page/my-page.html"
                            style="color:#848484;">내정보</a></div>
                            <!-- 통통이 갯수 -->
                            <br>
                            <div class="TongTong-wrap">
                                <img src="{% static 'images/myInfo-img.svg' %}">
                                <span class="TongTong">통통이 <span id="TongTong-num">{{ counter.count }}개</span>
                            </div>
                    </div>
                    <img src="{% static 'images/horizontal-line.svg' %} ">
                    <div style="margin-top: 0.5rem;">
                        <div class="myInfo-info-letter" id="myInfo-myInformation"><a href="{% url 'accounts:logout' %}"
                                style="color:#848484;">로그아웃</a></div>
                    </div>
                    {% else %}
                    <div class="myInfo-sec" style="margin-top: 0.5rem;">
                        <div><img src="{% static 'images/myInfo-img.svg' %} " class="myInfo-logo-img">
                        </div>
                        <div class="myInfo-info-letter" id="myInfo-UserName"><a href="/Tong-Tong-E/TongTong.html"
                                style="color:#848484;">통통이</a></div>
                    </div>
                    <div style="margin-top: 0.5rem;">
                        <div class="myInfo-info-letter" id="myInfo-myInformation"><a href="{% url 'accounts:login' %}"
                                style="color:#848484;">로그인</a></div>
                    </div>
                    <img src="{% static 'images/horizontal-line.svg' %} ">
                    <div style="margin-top: 0.5rem;">
                        <div class="myInfo-info-letter" id="myInfo-myInformation"><a href="{% url 'accounts:signup' %}"
                                style="color:#848484;">회원가입</a></div>
                    </div>
                    {% endif %}
                </div>

            </div>

            <nav class="main-nav">
                <a href="{% url 'index'%}">
                    <p class="main-nav-letter" id="main-page-link">메인</p>
                </a>
                <img src="{% static 'images/horizontal-line.svg' %} ">
                <a href="{% url 'calculator:calc_view' %}">
                    <p class="main-nav-letter" id="calc-page-link">소득분위 모의 계산기</p>
                </a>
                <img src="{% static 'images/horizontal-line.svg' %} ">
                <a href="{% url 'findbenefit:findbenefit'%}">
                    <p class="main-nav-letter" id="benefit-page-link">혜택 찾아보기</p>
                </a>
                <img src="{% static 'images/horizontal-line.svg' %} ">
                <a href="{% url 'community:post-list'%}">
                    <p class="main-nav-letter" id="community-page-link">커뮤니티</p>
                </a>
            </nav>
        </header>
        <!-- 메인 프레임 header끝 -->
        {% block content %}
        {% endblock %}
    </div>
    <!-- 반응형 container 끝 -->
    
</body>

</html>