{% load static %}
<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta name="viewport"
        content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no" />

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">

    <!-- Jquery -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <!-- slick  -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick-theme.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.min.css">

    <!-- AOS-plug-in -->
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>

    {% block link %}{% endblock %}
    <title>{% block title %}{% endblock %}</title>
</head>

<body>
    <!-- 반응형 container -->
    <div class="container-fluid" style="padding: 0;">
        <!-- Content here -->
        <!-- 메인 프레임 header -->
        <header>
            <div class="main-header">
                <a href="/main-pages/main-page.html"><img src="{% static 'images/main-logo.svg' %} " class="main-logo"></a>
                <div class="myInfo-wrap">
                    <div class="myInfo-sec" style="margin-top: 0.5rem;">
                        <div><img src="{% static 'images/myInfo-img.svg' %} " class="myInfo-logo-img">
                        </div>
                        <div class="myInfo-info-letter" id="myInfo-UserName"><a href="/Tong-Tong-E/TongTong.html"
                                style="color:#848484;">통통이</a></div>
                    </div>
                    <img src="{% static 'images/horizontal-line.svg' %} ">
                    <div style="margin-top: 0.5rem;">
                        <div class="myInfo-info-letter" id="myInfo-myInformation"><a href="/my-page/my-page.html"
                                style="color:#848484;">내정보</a></div>
                    </div>
                </div>
            </div>

            <nav class="main-nav">
                <a href="/main-pages/main-page.html">
                    <p class="main-nav-letter" id="main-page-link" style="color: var(--1, #00C2FF);">메인</p>
                </a>
                <img src="{% static 'images/horizontal-line.svg' %} ">
                <a href="/calc-page/calc-page.html">
                    <p class="main-nav-letter" id="calc-page-link">소득분위 모의 계산기</p>
                </a>
                <img src="{% static 'images/horizontal-line.svg' %} ">
                <a href="/benefit-album-page/benefit-album-page.html">
                    <p class="main-nav-letter" id="benefit-page-link">혜택 찾아보기</p>
                </a>
                <img src="{% static 'images/horizontal-line.svg' %} ">
                <a href="/community-main-page/community-main-page.html">
                    <p class="main-nav-letter" id="community-page-link">커뮤니티</p>
                </a>
            </nav>
        </header>
        <!-- 메인 프레임 header끝 -->
    </div>
    <div>
        {% block content %}
        {% endblock %}
    </div>
</body>

</html>