{% extends 'base.html' %}
{% load static %}

{% block content %}

<style>
    #benefit-page-link{
        color: var(--1, #00C2FF);
    }
</style>

<link rel="stylesheet" type="text/css" href="{% static 'css/benefit-album-page.css' %}">

<div class="choice-buttons">
    <input type="button" class="btn1" onclick="highlightButton('btn1')" value="1구간">
    <input type="button" class="btn2" onclick="highlightButton('btn2')" value="2구간">
    <input type="button" class="btn3" onclick="highlightButton('btn3')" value="3구간">
    <input type="button" class="btn4" onclick="highlightButton('btn4')" value="4구간">
    <input type="button" class="btn5" onclick="highlightButton('btn5')" value="5구간">
    <input type="button" class="btn6" onclick="highlightButton('btn6')" value="6구간">
    <input type="button" class="btn7" onclick="highlightButton('btn7')" value="7구간">
    <input type="button" class="btn8" onclick="highlightButton('btn8')" value="8구간">
    <input type="button" class="btn9" onclick="highlightButton('btn9')" value="9구간">
    <input type="button" class="btn10" onclick="highlightButton('btn10')" value="10구간">

</div>

<div class="hashtag">
    <div class="tag-title">추천 태그</div>
    <input type="button" class="tag" onclick="toggleTag(this)" value="#국가장학금">
    <input type="button" class="tag" onclick="toggleTag(this)" value="#소득공제">
    <input type="button" class="tag" onclick="toggleTag(this)" value="#국민기초생활복지제도">
</div>


<div class="opt">
    <div class="post-num">총, <span>1000</span>개</div>
    <fieldset>
        <label style="margin-left: 3rem;">
            <input type="radio" name="contact" value="termination"><span class="radioContent">종료 임박순</span>
        </label>
        <label>
            <input type="radio" name="contact" value="popularity"><span class="radioContent">인기순</span>
        </label>
        <label>
            <input type="radio" name="contact" value="latest"><span class="radioContent">최신순</span>
        </label>
        <label>
            <input type="radio" name="contact" value="my-interest"><span class="radioContent">내 관심글</span>
        </label>
    </fieldset>
</div>

        <div class="idx">
            <div class="idx-content">
                <div class="index1">
                    <div class="album-icon"><img src="{% static 'images/blue-album.png' %}" alt=""></div>
                    <div class="album-info">앨범형<br>보기</div>
                </div>

                <a href= "{% url 'findbenefit:benefitlist' %}">
                    
                <div class="index2" >
                    <div class="album-icon"><img src="{% static 'images/Vector.png'  %}" alt=""></div>
                    <div class="album-info">목록형<br>보기</div>
                </div>
                </a>
            </div>
        </div>

        <section class="recommend"> <!--여기 section 부분 반복-->
            <div class="reco">
                <div class="activity">

                    <!--혜택 11111111111-->
                    <div class="activity1">        
                        <div class="act-idx">
                            <div class="deadline">D-11</div>
                            <div class="act-sec">모두</div>
                        </div>
                        <div class="act-content" >
                            {% comment %} <div class="star"><img src="{% static 'images/Star7.png' %}" class="starImage"></div> {% endcomment %}
                            {% if post.is_liked %}
                            <div class="star" onclick="starClick('{{ post.id }}')"><img class="starImage"
                                    src="{% static 'images/Star8.png' %}" alt=""></div>
                            {% else %}
                            <div class="star" onclick="starClick('{{ post.id }}')"><img class="starImage"
                                    src="{% static 'images/Star7.png' %}" alt=""></div>
                            {% endif %}
                            <img src="{% static 'images/school.png' %}" >
                            <div class="act-name">소득연계형 국가장학금</div>
                            <div class="act-tag">#국가장학금</div>
                            <div class="act-info1">신청 : 2023.08.01~2023.08.02</div>
                            <div class="act-info2">진행 : 2023.08.03~2023.08.04</div>
                        </div>
                    </div>

                    <!--혜택 222222222222-->
                    <div class="activity1">        
                        <div class="act-idx">
                            <div class="deadline">D-11</div>
                            <div class="act-sec">모두</div>
                        </div>
                        <div class="act-content">
                            <div class="star"><img src="{% static 'images/Star7.png' %}" class="starImage"></div>
                            <img src="{% static 'images/health.jpg' %}" >
                            <div class="act-name">소득연계형 국가장학금</div>
                            <div class="act-tag">#건강검진</div>
                            <div class="act-info1">신청 : 2023.08.17~2023.09.14</div>
                            <div class="act-info2">진행 : 2023.08.17~2023.09.21</div>
                        </div>
                    </div>

                    <!--혜택 333333333333-->
                    <div class="activity1">        
                        <div class="act-idx">
                            <div class="deadline">D-11</div>
                            <div class="act-sec">모두</div>
                        </div>
                        <div class="act-content">
                            <div class="star"><img src="{% static 'images/Star7.png' %}" class="starImage"></div>
                            <img src="{% static 'images/image12.png' %}" >
                            <div class="act-name">소득연계형 국가장학금</div>
                            <div class="act-tag">#복지 멤버십</div>
                            <div class="act-info1">신청 : 2023.08.01~2023.08.02</div>
                            <div class="act-info2">진행 : 2023.08.03~2023.08.04</div>
                        </div>
                    </div>

                    

                </div>    
            </div>
        </section>

        <section class="recommend"> <!--여기 section 부분 반복-->
            <div class="reco">
                <div class="activity">

                    <!--혜택 44444444444-->
                    <div class="activity1">        
                        <div class="act-idx">
                            <div class="deadline">D-11</div>
                            <div class="act-sec">모두</div>
                        </div>
                        <div class="act-content" >
                            <div class="star"><img src="{% static 'images//Star7.png' %}" class="starImage"></div>
                            <img src="{% static 'images/children.jpg' %}" >
                            <div class="act-name">소득연계형 국가장학금</div>
                            <div class="act-tag">#다자녀 대학등록금</div>
                            <div class="act-info1">신청 : 2023.08.01~2023.08.02</div>
                            <div class="act-info2">진행 : 2023.08.03~2023.08.04</div>
                        </div>
                    </div>

                    <!--혜택 555555555555-->
                    <div class="activity1">        
                        <div class="act-idx">
                            <div class="deadline">D-11</div>
                            <div class="act-sec">모두</div>
                        </div>
                        <div class="act-content">
                            <div class="star"><img src="{% static 'images/Star7.png' %}" class="starImage"></div>
                            <img src="{% static 'images/skt.jpg' %}" >
                            <div class="act-name">소득연계형 국가장학금</div>
                            <div class="act-tag">#통신사 혜택(SKT)</div>
                            <div class="act-info1">신청 : 2023.08.17~2023.09.14</div>
                            <div class="act-info2">진행 : 2023.08.17~2023.09.21</div>
                        </div>
                    </div>

                    <!--혜택 6666666666-->
                    <div class="activity1">        
                        <div class="act-idx">
                            <div class="deadline">D-11</div>
                            <div class="act-sec">모두</div>
                        </div>
                        <div class="act-content">
                            <div class="star"><img src="{% static 'images/Star7.png' %}" class="starImage"></div>
                            <img src="{% static 'images/kt.jpg' %}" >
                            <div class="act-name">소득연계형 국가장학금</div>
                            <div class="act-tag">#통신사 혜택(KT)</div>
                            <div class="act-info1">신청 : 2023.08.01~2023.08.02</div>
                            <div class="act-info2">진행 : 2023.08.03~2023.08.04</div>
                        </div>
                    </div>

                    

                </div>    
            </div>
        </section>

        {% for benefit in benefits %}
            {% if forloop.counter0|divisibleby:3 %}
            <section class="recommend"> 
            
            <div class="reco">
                <div class="activity">
                
                    <!--혜택 77777777777-->
                    {% endif %}
                    <div class="activity1">        
                        <div class="act-idx">
                            <div class="deadline">D-11</div>
                            <div class="act-sec">모두</div>
                        </div>
                        <div class="act-content" >
                            <div class="star"><img src="{% static 'images/Star7.png' %}" class="starImage"></div>
                            <img src="{{ benefit.image.url }}" name="image"  alt="사진1">
                            <div class="act-name" name="title">{{ benefit.title }}</div>
                            <div class="act-tag" name="tag">{{ benefit.tag }}</div>
                            <div class="act-info1">신청 : 2023.08.01~2023.08.02</div>
                            <div class="act-info2">진행 : 2023.08.03~2023.08.04</div>
                        </div>
                    </div>
                    

                    
            {% if forloop.last or forloop.counter|add:1|divisibleby:4 %}
                </div>    
            </div>
            
            </section>
            {% endif %}
        {% endfor %}

        </section>
    </div>
    <!-- 반응형 container 끝 -->

    <script src="{% static 'js/benefit-album-page.js' %}"></script>
    
    
<script>
    let section = ''
    let tags = ''
    let writeType = ''
    let post_id = ''

    let radioBtn = '';
    function changeImage(selectedRadio) {
        const radio1Img = document.getElementsByClassName("radio1")[0].getElementsByTagName("img")[0];
        const radio2Img = document.getElementsByClassName("radio2")[0].getElementsByTagName("img")[0];
        

        if (selectedRadio === "radio1") {
            
            if (radioBtn == selectedRadio) {
                radio1Img.src = "{% static 'images/Ellipse 10.png' %}";
                writeType = ""
                radioBtn = '';
            }
            else {
                radio1Img.src = "{% static 'images/Ellipse 11.png' %}";
                radio2Img.src = "{% static 'images/Ellipse 10.png' %}";
                writeType = "내가쓴글"
                radioBtn = selectedRadio;
            }
            
        } 
        else if (selectedRadio === "radio2") {
            if (radioBtn == selectedRadio) {
                radio2Img.src = "{% static 'images/Ellipse 10.png' %}";
                writeType = ""
                radioBtn = '';
            }
            else {
                radio1Img.src = "{% static 'images/Ellipse 10.png' %}";
                radio2Img.src = "{% static 'images/Ellipse 11.png' %}";
                writeType = "내관심글"
                radioBtn = selectedRadio;
            }
            
        }


        loadData()
        
    }

    let selectedButton = null;

    function highlightButton(btnId) {
        const clickedButton = document.querySelector(`.${btnId}`);

        if (clickedButton === selectedButton) {
            // 이미 선택된 버튼을 다시 클릭한 경우
            clickedButton.classList.remove('highlighted');
            selectedButton = null;
            section = ''
        } else {
            // 다른 버튼을 클릭한 경우
            if (selectedButton) {
                selectedButton.classList.remove('highlighted');
            }
            selectedButton = clickedButton;
            selectedButton.classList.add('highlighted');
            section = clickedButton.value.slice(0, -2);
        }

        // 스타일 변경
        const buttons = document.querySelectorAll('.choice-buttons > input');
        buttons.forEach(button => {
            if (button !== selectedButton) {
                button.style.boxShadow = "";
                button.style.color = "";
            }
        });

        // 선택된 버튼의 스타일 변경
        if (selectedButton) {
            selectedButton.style.boxShadow = "2px 2px 4px 0px rgba(0, 0, 0, 0.25) inset";
            selectedButton.style.color = "#666666";

        }

        
        // 데이터 불러오기
        loadData();

    }

    let selectedTag = null;
    function toggleTag(button) {
        const clickedButton = button;

        if (clickedButton === selectedTag) {
            // 이미 선택된 버튼을 다시 클릭한 경우
            button.style.backgroundColor = '';
            button.style.boxShadow = '';
            button.style.color = '';
            selectedTag = null;

            tags = ''
        } else {
            // 다른 버튼을 클릭한 경우
            if(selectedTag != null){
                selectedTag.style.backgroundColor = '';
                selectedTag.style.boxShadow = '';
                selectedTag.style.color = '';
            }

            button.style.backgroundColor = '#CECECE';
            button.style.boxShadow = '2px 2px 4px 0px rgba(0, 0, 0, 0.25) inset';
            selectedTag = button;
            tags = button.value;
        }

        // if (button.style.backgroundColor === 'rgb(255, 178, 178)') {
        //     button.style.backgroundColor = '';
        //     button.style.boxShadow = '';
        //     button.style.color = '';
        //     selectedTag = null;
            
        // } else {
        //     if (selectedTag) {
        //         selectedTag.style.backgroundColor = '';
        //         selectedTag.style.boxShadow = '';
        //         selectedTag.style.color = '';
        //     }
        //     button.style.backgroundColor = '#CECECE';
        //     button.style.boxShadow = '2px 2px 4px 0px rgba(0, 0, 0, 0.25) inset';
        //     selectedTag = button;
        // }

        // tags = button.value;
        loadData()
    }


    const starClick = (postId) => {

        post_id = postId
        loadData()
    }

    // 데이터 불러오기
    const loadData = () => {

        $.ajax({
            url: "{% url 'community:post-section' %}",  // 해당 시즌 게시물을 가져오는 URL
            method: 'GET',
            dataType: 'html',
            data: { post_id },
            success: function (response) {
                $('.my-post').html(response);
            },
            error: function (xhr, status, error) {
                console.error(error);
            }
        });
        post_id =''
    }

</script>

    {% endblock %}
    
