{% extends 'base.html' %}
{% load static %}

{% block link %}

<link rel="stylesheet" type="text/css" href="{% static 'css/community-main-page.css'%}">
<style>
    a {
        text-decoration: none;
    }

    #community-page-link {
        color: var(--1, #00C2FF);
    }
</style>

{% endblock %}

{% block title %}커뮤니티{% endblock %}

{% block content %}

<div class="choice-buttons">
    <input type="button" class="btn1" onclick="highlightButton('btn1')" value="1구간">
    <input type="button" class="btn2" onclick="highlightButton('btn2')" value="2구간">
    <input type="button" class="btn3" onclick="highlightButton('btn3')" value="3구간">
    <input type="button" class="btn4" onclick="highlightButton('btn4')" value="4구간">
    <input type="button" class="btn5" onclick="highlightButton('btn5')" value="5구간">
    <input type="button" class="btn6" onclick="highlightButton('btn6')" value="6구간">
    <input type="button" class="btn7" onclick="highlightButton('btn7')" value="7구간">
    <input type="button" class="btn8" onclick="highlightButton('btn8')" value="8구간">
    <input type="button" class="btn9" onclick="highlightButton('btn9')" value="9구간">
    <input type="button" class="btn10" onclick="highlightButton('btn10')" value="10구간">

</div>

<div class="hashtag">
    <div class="tag-title">추천 태그</div>
    <input type="button" class="tag" onclick="toggleTag(this)" value="#국가장학금">
    <input type="button" class="tag" onclick="toggleTag(this)" value="#소득공제">
    <input type="button" class="tag" onclick="toggleTag(this)" value="#국민기초생활복지제도">
</div>


<div class="opt">
    <button class="post" onclick="writePost()">글쓰기&nbsp;<img src="{% static 'images/Group186.png' %}" alt=""></button>
    <fieldset>
        <label>
            <input type="radio" class="radio1" name="contact" onclick="changeImage('내가쓴글')" value="my-writing"><span class="radioContent">내가 쓴 글</span>
        </label>
        <label>
            <input type="radio" class="radio2" name="contact" onclick="changeImage('내관심글')" value="my-interest"><span class="radioContent">내 관심글</span>
        </label>
    </fieldset>
</div>


<div class="idx">
    <div class="idx-content">
        <div class="index1">제목</div>
        <div class="index2">작성정보</div>
    </div>
</div>

<div class="my-post">

    {% for post in post_list %}
    <div class="post-content"> <!--post-content부분 반복-->
        <!-- <div class="star"><img src="{% static 'images/Star7.png' %}" class="starImage"></div> -->
        {% if user.is_authenticated %}
            {% if post.is_liked %}
            <div class="star" onclick="starClick('{{ post.id }}')"><img class="starImage"
                    src="{% static 'images/Star8.png' %}" alt=""></div>
            {% else %}
            <div class="star" onclick="starClick('{{ post.id }}')"><img class="starImage"
                    src="{% static 'images/Star7.png' %}" alt=""></div>
            {% endif %}
        {% else %}
        <div class="star" href="{% url 'accounts:login' %}"><img class="starImage" src="{% static 'images/Star7.png' %}"
                alt=""></div>
        {% endif %}
        <a href="{% url 'community:post-detail' post.id %}">
            <div class="post-title">{{ post.title }}</div>
            <div class="post-info-container">
                <div class="post-info1">{{ post.tags }} / {{ post.created_at|date:'Y.m.d' }}</div>
                <div class="post-info2">{{ post.user }}</div>
            </div>
        </a>
    </div>
    {% endfor %}

</div>

<!-- 반응형 container 끝 -->
<script src="{% static 'js/communitiy-main-page.js' %}"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<script>
    let section = ''
    let tags = ''
    let writeType = ''
    let post_id = ''

    let radioBtn = '';
    function changeImage(selectedRadio) {
        const radio1Img = document.getElementsByClassName("radio1")[0];
        const radio2Img = document.getElementsByClassName("radio2")[0];
        

        if (selectedRadio === "내가쓴글") {
            
            if (radioBtn == selectedRadio) {
                $("input:radio[class='radio1']").prop('checked', false);
                writeType = ""
                radioBtn = '';
            }
            else {
                writeType = "내가쓴글"
                radioBtn = selectedRadio;
            }
            
        } 
        else if (selectedRadio === "내관심글") {
            if (radioBtn == selectedRadio) {
                $("input:radio[class='radio2']").prop('checked', false);
                writeType = ""
                radioBtn = '';
            }
            else {
                writeType = "내관심글"
                radioBtn = selectedRadio;
            }
            
        }


        loadData()
        
    }

    let selectedButton = null;

    function highlightButton(btnId) {
        const clickedButton = document.querySelector(`.${btnId}`);

        if (clickedButton === selectedButton) {
            // 이미 선택된 버튼을 다시 클릭한 경우
            clickedButton.classList.remove('highlighted');
            selectedButton = null;
            section = ''
        } else {
            // 다른 버튼을 클릭한 경우
            if (selectedButton) {
                selectedButton.classList.remove('highlighted');
            }
            selectedButton = clickedButton;
            selectedButton.classList.add('highlighted');
            section = clickedButton.value.slice(0, -2);
        }

        // 스타일 변경
        const buttons = document.querySelectorAll('.choice-buttons > input');
        buttons.forEach(button => {
            if (button !== selectedButton) {
                button.style.boxShadow = "";
                button.style.color = "";
            }
        });

        // 선택된 버튼의 스타일 변경
        if (selectedButton) {
            selectedButton.style.boxShadow = "2px 2px 4px 0px rgba(0, 0, 0, 0.25) inset";
            selectedButton.style.color = "#666666";

        }

        
        // 데이터 불러오기
        loadData();

    }

    let selectedTag = null;
    function toggleTag(button) {
        const clickedButton = button;

        if (clickedButton === selectedTag) {
            // 이미 선택된 버튼을 다시 클릭한 경우
            button.style.backgroundColor = '';
            button.style.boxShadow = '';
            button.style.color = '';
            selectedTag = null;

            tags = ''
        } else {
            // 다른 버튼을 클릭한 경우
            if(selectedTag != null){
                selectedTag.style.backgroundColor = '';
                selectedTag.style.boxShadow = '';
                selectedTag.style.color = '';
            }

            button.style.backgroundColor = '#CECECE';
            button.style.boxShadow = '2px 2px 4px 0px rgba(0, 0, 0, 0.25) inset';
            selectedTag = button;
            tags = button.value;
        }

        // if (button.style.backgroundColor === 'rgb(255, 178, 178)') {
        //     button.style.backgroundColor = '';
        //     button.style.boxShadow = '';
        //     button.style.color = '';
        //     selectedTag = null;
            
        // } else {
        //     if (selectedTag) {
        //         selectedTag.style.backgroundColor = '';
        //         selectedTag.style.boxShadow = '';
        //         selectedTag.style.color = '';
        //     }
        //     button.style.backgroundColor = '#CECECE';
        //     button.style.boxShadow = '2px 2px 4px 0px rgba(0, 0, 0, 0.25) inset';
        //     selectedTag = button;
        // }

        // tags = button.value;
        loadData()
    }


    const starClick = (postId) => {

        post_id = postId
        loadData()
    }

    // 데이터 불러오기
    const loadData = () => {

        $.ajax({
            url: "{% url 'community:post-section' %}",  // 해당 시즌 게시물을 가져오는 URL
            method: 'GET',
            dataType: 'html',
            data: { post_id, section, tags, writeType },
            success: function (response) {
                $('.my-post').html(response);
            },
            error: function (xhr, status, error) {
                console.error(error);
            }
        });
        post_id =''
    }

</script>
</body>

{% endblock %}