{% extends 'base.html' %}
{% load static %}

{% block link %}

<link rel="stylesheet" type="text/css" href="{% static 'css/community-main-page.css'%}">
<style>
    a {
        text-decoration: none;
    }

    #community-page-link {
        color: var(--1, #00C2FF);
    }
</style>
{% endblock %}

{% block title %}커뮤니티{% endblock %}

{% block content %}

        <div class="choice-buttons">
            <input type="button" class="btn1" onclick="highlightButton('btn1')" value="1구간">
            <input type="button" class="btn2" onclick="highlightButton('btn2')" value="2구간">
            <input type="button" class="btn3" onclick="highlightButton('btn3')" value="3구간">
            <input type="button" class="btn4" onclick="highlightButton('btn4')" value="4구간">
            <input type="button" class="btn5" onclick="highlightButton('btn5')" value="5구간">
            <input type="button" class="btn6" onclick="highlightButton('btn6')" value="6구간">
            <input type="button" class="btn7" onclick="highlightButton('btn7')" value="7구간">
            <input type="button" class="btn8" onclick="highlightButton('btn8')" value="8구간">
            <input type="button" class="btn9" onclick="highlightButton('btn9')" value="9구간">
            <input type="button" class="btn10" onclick="highlightButton('btn10')" value="10구간">

        </div>

        <div class="hashtag">
            <div class="tag-title">추천 태그</div>
            <input type="button" class="tag" onclick="toggleTag(this)" value="#국가장학금">
            <input type="button" class="tag" onclick="toggleTag(this)" value="#소득공제">
            <input type="button" class="tag" onclick="toggleTag(this)" value="#국민기초생활복지제도">
        </div>


<div class="opt">
    <button class="post" onclick="writePost()">글쓰기&nbsp;<img src="{% static 'images/Group186.png' %}" alt=""></button>
    <div class="radio-btn">
        <div class="radio1" onclick="changeImage('radio1')"><img src="{% static 'images/Ellipse 10.png' %}"
                alt="">&nbsp;&nbsp;내가 쓴 글</div>
        <div class="radio2" onclick="changeImage('radio2')"><img src="{% static 'images/Ellipse 10.png' %}"
                alt="">&nbsp;&nbsp;내 관심글</div>
    </div>
</div>

<div class="idx">
    <div class="idx-content">
        <div class="index1">제목</div>
        <div class="index2">작성정보</div>
    </div>
</div>

<div class="my-post">

    {% for post in post_list %}
    <a class="post-content" href="{% url 'community:post-detail' post.id %}"> <!--post-content부분 반복-->
        <div class="star"><img src="{% static 'images/Star7.png' %}" class="starImage"></div>
        <div class="post-title">{{ post.title }}</div>
        <div class="post-info-container">
            <div class="post-info1">태그 / {{ post.created_at|date:'Y.m.d' }}</div>
            <div class="post-info2">{{ post.user }}</div>
        </div>
    </a>
    {% endfor %}

</div>



</section>
</div>
<!-- 반응형 container 끝 -->
<script src="{% static 'js/communitiy-main-page.js' %}"></script>
</body>

{% endblock %}