{% load static %}
{% for post in post_list %}
<div class="post-content"> <!--post-content부분 반복-->
    <!-- <div class="star"><img src="{% static 'images/Star7.png' %}" class="starImage"></div> -->
    {% if user.is_authenticated %}
    {% if post.is_liked %}
    <div class="star" onclick="starClick('{{ post.id }}')" id="{{ post.id }}"><img class="starImage" src="{% static 'images/Star8.png' %}" alt=""></div>
    {% else %}
    <div class="star" onclick="starClick('{{ post.id }}')" id="{{ post.id }}"><img class="starImage" src="{% static 'images/Star7.png' %}" alt=""></div>
    {% endif %}
    {% else %}
    <div class="star" href="{% url 'accounts:login' %}"><img class="starImage" src="{% static 'images/Star7.png' %}"
            alt=""></div>
    {% endif %}
    <a href="{% url 'community:post-detail' post.id %}">
        <div class="post-title">{{ post.title }}</div>
        <div class="post-info-container">
            <div class="post-info1">{{ post.tags }} / {{ post.created_at|date:'Y.m.d' }}</div>
            <div class="post-info2">{{ post.user }}</div>
        </div>
    </a>
</div>
{% endfor %}