{% extends 'base.html' %}
{% load static %}

{% block link %}
<link rel="stylesheet" type="text/css" href="{% static 'css/calc-page.css' %}">
<style>
    a {
        text-decoration: none;
    }

    #calc-page-link {
        color: var(--1, #00C2FF);
    }
</style>
{% endblock %}

{% block title %}소득분위 모의계산기{% endblock %}

{% block content %}

<section class="calc">
    <form action="{% url 'calculator:result' %}" method="POST">
        {% csrf_token %}
        <div class="calc-background">

            <div class="calc-title">소득분위 모의 계산기</div>

            <!--결혼여부-->
            <div class="option1">
                <div class="option-title"><img src="{% static 'images/Ellipse 31.svg' %}">&nbsp;&nbsp;본인 결혼 여부</div>
                <div class="option-buttons">
                    <input type="button" class="option-btn" value="미혼"></input>
                    <input type="button" class="option-btn" value="기혼"></input>
                    <input type="button" class="option-btn" value="이별"></input>
                    <input type="button" class="option-btn" value="사별"></input>
                </div>
            </div>
            <div class="option1-info">
                <p>선택지 설명<br>
                    (ex: 본인이 혼인한 경우(법률혼) 기혼으로 표기, 혼인 후 이혼 시 재혼 전까지는이혼으로 표기(미혼아님)</p>
            </div>

            <!--복지 자격 여부-->
            <div class="option2">
                <div class="option-title"><img src="{% static 'images/Ellipse 31.svg' %}" alt="">&nbsp;&nbsp;복지 자격 여부
                </div>
                <div class="option-buttons2">
                    <!-- <button class="option-btn2">기초</button>
                <button class="option-btn2">차상위</button>
                <button class="option-btn2">해당없음</button> -->
                    <input type="button" class="option-btn2" value="기초"></input>
                    <input type="button" class="option-btn2" value="차상위"></input>
                    <input type="button" class="option-btn2" value="해당없음"></input>
                </div>
            </div>
            <div class="option2-info">
                <p>-기초생활수급자<br>
                    기초생계급여수급자, 기초의료급여수급자<br><br>
                    -차상위계층<br>
                    기초주거급여수급자, 기초교육급여수급자, 한부모가족보호대상자, 차상위장애연급대상자, <br>
                    차상위장애수당/장애아동수당대상자, 차상위자활대상자, 차상위본인부담경감대상자, <br>
                    차상위계층확인서를 통해 확인된 차상위계층대상자</p>
            </div>

            <!--소득-->
            <div class="input-option">
                <div class="option-title"><img src="{% static 'images/Ellipse 31.svg' %}" alt="">&nbsp;&nbsp;소득</div>
                <div class="input1">
                    <div class="sub-title">본인소득</div>
                    <input type="number" name="income_myself" class="income" placeholder="0" required >
                    <div class="unit">만원/월</div>
                </div>
            </div>
            <div class="input-info">
                <p>근로소득, 사업소득, 재산소득, 기타소득의 합계액<br><br>

                    소득입력시 유의사항<br>
                    본인소득 : 근로사업소득 130만원 한도 정액 공제 후 입력. 단, 일용소득 공제(공제율 50%)가 큰 경우 해당금액 공제 후 입력</p>
            </div>
            <div class="input2">
                <div class="sub-title">가구원소득</div>
                <input type="number" name="income_fam" class="income2" placeholder="0" required >
                <div class="unit">만원/월</div>
            </div>
            <div class="input-info">
                <p>가구원소득 : 일용근로소득은 전전분기 3개월간 평균소득의 50% 공제 후 입력</p>
            </div>

            <!--재산-->
            <div class="input-option">
                <div class="option-title"><img src="{% static 'images/Ellipse 31.svg' %}" alt="">&nbsp;&nbsp;일반 재산</div>
            </div>
            <div class="input1">
                <div class="sub-title">주택, 건축물</div>
                <input type="number" name="house" class="asset1" placeholder="0" required >
                <div class="unit">만원</div>
            </div>
            <div class="input-info">
                <p>주택, 건물, 시설물 등의 시가표준액 합계액 </p>
            </div>

            <div class="input2">
                <div class="sub-title">토지</div>
                <input type="number" name="land" class="asset2" placeholder="0" required >
                <div class="unit">만원</div>
            </div>
            <div class="input-info">
                <p>토지의 시가표준액 합계액 </p>
            </div>

            <div class="input2">
                <div class="sub-title">임차보증금</div>
                <input type="number" name="rental_deposit" class="asset3" placeholder="0" required >
                <div class="unit">만원</div>
            </div>
            <div class="input-info">
                <p>주택, 상가 등의 보증금 및 전세금의 합계액<br>
                    *주거 목적의 주택 임차보증금은 보정계수 0.95를 곱하여 입력력</p>
            </div>

            <div class="input2">
                <div class="sub-title">기타재산</div>
                <input type="number" name="property" class="asset4" placeholder="0" required>
                <div class="unit">만원</div>
            </div>
            <div class="input-info">선박, 항공기, 동산, 입목재산, 회원권, 조합원입주권, 분양권, 어업권 등의 합</p>
            </div>


            <div class="input3">
                <div class="option-title"><img src="{% static 'images/Ellipse 31.svg' %}" alt="">&nbsp;&nbsp;차량 가격</div>
                <input type="number" name="car" class="car" placeholder="0" required>
                <div class="unit">만원</div>
            </div>
            <div class="input-info">
                <p>보험개발원에서 제공하는 차량 기준가액<br>
                    *단, 장애인 소유 자동차는 최대 1대에 한하여 제외 가능 </p>
            </div>

            <div class="input3">
                <div class="option-title"><img src="{% static 'images/Ellipse 31.svg' %}" alt="">&nbsp;&nbsp;금융 재산</div>
                <input type="number" name="finance" class="finance" placeholder="0" required>
                <div class="unit">만원</div>
            </div>
            <div class="input-info">현금, 수표, 어음, 주식, 국공채 등 유가증권, 예적금, 부금, 보험, 수익증권 등</p>
            </div>

            <div class="input3">
                <div class="option-title"><img src="{% static 'images/Ellipse 31.svg' %}" alt="">&nbsp;&nbsp;부채</div>
                <input type="number" name="debt" class="debt" placeholder="0" required>
                <div class="unit">만원</div>
            </div>
            <div class="input-info">
                <p>금융기관 대출금, 임대보증금, 한국장학재단 학자금대출잔액 등 </p>
            </div>

        </div>
        </div>

        <div class="result-buttons">
            <a href="{% url 'accounts:myPage'%}" class="result-btn">지난 결과 다시보기</a>
            <button class="result-btn">예상 소득분위 확인</a>
        </div>

    </form>
    <div class="warning">
        <p>소득분위 모의 계산기는 소득분위를 가장 적극적으로 활용하고있는 한국장학재단의 기준으로 계산됩니다.
            그러므로 신청하시려는 프로그램의 기준과는 다를 수 있으며, <br>
            입력하신 자료를 기초로 제공되며 실제 정확한 설정 여부 판단은 서비스 신청 후 공적자료 조사를 통해 가능합니다. <br>
            소득분위 모의 계산기로 조회하신 결과는 단순 참고용으로만 활용하여 주시기 바랍니다.</p>
    </div>
</section>

<!-- 반응형 container 끝 -->
<script src="{% static 'js/calc-page.js' %}"></script>

{% endblock %}